<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <display-name>Servlet 3.0 Webapp</display-name>
  
  <servlet>
    <servlet-name>ServletDesignedToTestDeveloperKnowledgeAndCodingStyle</servlet-name>
    <servlet-class>uk.co.blackpepper.test.ServletDesignedToTestDeveloperKnowledgeAndCodingStyle</servlet-class>
    <init-param>
        <param-name>postFileLocation</param-name>
        <param-value>/tmp/test-data/post.txt</param-value>
    </init-param>
    <init-param>
        <param-name>getFileLocation</param-name>
        <param-value>/tmp/test-data/get.txt</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletDesignedToTestDeveloperKnowledgeAndCodingStyle</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
</web-app>
